@model M2Link.Models.AllProfilesModel

@{
    ViewBag.Title = "Profiles";
}

<h2>Profils</h2>


<ul>
    @foreach (var x in Model.Users)
    {
        <li><a href="~/AllProfiles/Profil/@x.Pseudo">@x.Pseudo</a> - <a href="~/Profile/Subscribe/@x.Pseudo">Subscribe</a></li>
    }
</ul>
