@{
    ViewBag.Title = "About";
}
<h2>Rapport pour le projet de DotNet.</h2>

<p>Nous avons suivi le contenue de tout les tps, vous trouverez toutes les fonctionnalité décrites dans ceux ci.
    Pour les visuels nous avons décidé d'utiliser Bootstrap.
    Pour le hachage des mots de passes nous avons décidé d'utiliser BCrypt, ainsi les mots de passes seront haché dans la base de donnée.
    Pour la partie concernant Xamarin, nous avons rencontré beacoup de probléme technique, les émulateurs ne fonctionnant pas. 
    </p>
