@{
    ViewBag.Title = "Contact";
}
<h2>Pour nous contacter : </h2>



<address>
    <strong>Benjamin:</strong>   <a href="mailto:benjamin.wilkins@etu.univ-rouen.fr">benjamin.wilkins@etu.univ-rouen.fr</a><br />
    <strong>David:</strong> <a href="mailto:david.saude@etu.univ-rouen.fr">david.saude@etu.univ-rouen.fr</a>
</address>