@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Form</h2>
        <p>
            Le formulaire du premier TP. C'est le début d'une grande aventure, en avant toute !
        </p>
        <p><a class="btn btn-default" href="~/Register/Form">Y accéder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Edition de profil</h2>
        <p>
            La page d'édition de votre profil. L'aventure continue !
        </p>
        <p><a class="btn btn-default" href="~/Profile/Edit">Y accéder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Affichage des profils</h2>
        <p>
            L'affichage des profils de tout le monde. Enjoy la vie privée !
        </p>
        <p><a class="btn btn-default" href="~/AllProfiles">Y accéder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Créer un message</h2>
        <p>
            On va ajouter un message en DB. C'est parti !
        </p>
        <p><a class="btn btn-default" href="~/Message/Edit">Y accéder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tous les messages</h2>
        <p>
            Allons voir tous les messages des gens que vous suivez. Que disent-ils de bô ?
        </p>
        <p><a class="btn btn-default" href="~/AllMessages">Y accéder &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Se déconnecter</h2>
        <p>
            Se déconnecter du site.
        </p>
        <p><a class="btn btn-danger" href="~/Home/Disconnect">Au revoir &raquo;</a></p>
    </div>
</div>