@model M2Link.Models.AllMessagesModel

@{
    ViewBag.Title = "Messages";
}

<h2>Messages</h2>


<ul class="list-group">
    @foreach (var x in Model.Messages)
    {
        <li class="list-group-item">@x.User - @x.Content</li>
    }
</ul>
