<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWSMessage" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55094/WebServices/WSLogin.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSLogin"
                contract="M2LinkXamarin.WebServiceClients.IWSLogin" name="BasicHttpBinding_IWSLogin" />
            <endpoint address="http://localhost:55094/WebServices/WSMessage.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWSMessage"
                contract="M2LinkXamarin.WebServiceClients.IWSMessage" name="BasicHttpBinding_IWSMessage" />
        </client>
    </system.serviceModel>
</configuration>