@model M2Link.Models.MessageModel

@{
    ViewBag.Title = "Nouveau message";
}

<h2>Nouveau message</h2>

@using (Html.BeginForm())
{

<fieldset>
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.EditorFor(m => m.Content, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    @Html.ValidationSummary()
    <p>
        <button type="submit" class="btn btn-primary">Submit</button>
    </p>

</fieldset>

}
